<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diogo.fieldnote">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/novo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/main_menu"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MyFieldsActivity"
            android:label="@string/title_activity_my_fields"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.diogo.fieldnote.MainActivity" />
        </activity>
        <activity
            android:name=".RegistoEntradasActivity"
            android:label="@string/title_activity_registo_entradas"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.diogo.fieldnote.MainActivity" />
        </activity>
        <activity
            android:name=".MostrarEntradaActivity"
            android:parentActivityName=".RegistoEntradasActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.diogo.fieldnote.RegistoEntradasActivity" />
        </activity>

        <activity
            android:name=".OrganismosActivity"
            android:label="@string/title_activity_organismos"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.diogo.fieldnote.MainActivity" />
        </activity>
        <activity
            android:name=".MostrarOrganismoActivity"
            android:label=""
            android:parentActivityName=".OrganismosActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.diogo.fieldnote.OrganismosActivity" />
        </activity>

        <activity
            android:name=".RegistarEstadoActivity"
            android:label="@string/title_activity_registar_estado"
            android:parentActivityName=".EstadosFenologicosActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.diogo.fieldnote.EstadosFenologicosActivity" />
        </activity>
        <activity
            android:name=".MostrarEstadoActivity"

            android:label=""
            android:parentActivityName=".EstadosFenologicosActivity"
            android:theme="@style/AppTheme.NoActionBar">
             <meta-data
                 android:name="android.support.PARENT_ACTIVITY"
                 android:value="com.example.diogo.fieldnote.EstadosFenologicosActivity" />

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.diogo.fieldnote.EstadosFenologicosActivity" />

        </activity>
        <activity
            android:name=".RegistarObservacaoActivity"
            android:label="@string/registar_nova_observacao"
            android:parentActivityName=".OrganismosActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.diogo.fieldnote.OrganismosActivity" />
        </activity>
        <activity
            android:name=".EstadosFenologicosActivity"
            android:label="@string/title_activity_estados_fenologicos"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.diogo.fieldnote.MainActivity" />
        </activity>
        <activity
            android:name=".IntervencaoTecnicaActivity"
            android:label="@string/title_activity_intervencao_tecnica"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.diogo.fieldnote.MainActivity" />
        </activity>
        <activity
            android:name=".RegistarIntervencaoTecnicaActivity"
            android:label="@string/registar_intervencao_tecnica"
            android:parentActivityName=".IntervencaoTecnicaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.diogo.fieldnote.IntervencaoTecnicaActivity" />
        </activity>
        <activity
            android:name=".CampanhasActivity"
            android:label="@string/title_activity_campanhas"
            android:parentActivityName=".MyFieldsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.diogo.fieldnote.MyFieldsActivity" />
        </activity>
        <activity
            android:name=".RegistarCampanhaActivity"
            android:label="@string/title_activity_registar_campanha"
            android:parentActivityName=".CampanhasActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.diogo.fieldnote.CampanhasActivity" />
        </activity>
        <activity
            android:name=".MostrarCampanhaActivity"
            android:label=""
            android:parentActivityName=".CampanhasActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.diogo.fieldnote.CampanhasActivity" />
        </activity>

        <activity
            android:name=".CampanhasActivity"
            android:label="@string/title_activity_campanhas"
            android:parentActivityName=".MyFieldsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.diogo.fieldnote.MyFieldsActivity" />
        </activity>
        <activity
            android:name=".RegistarCampanhaActivity"
            android:label="@string/title_activity_registar_campanha"
            android:parentActivityName=".CampanhasActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.diogo.fieldnote.CampanhasActivity" />
        </activity>
        <activity
            android:name=".MostrarCampanhaActivity"
            android:label=""
            android:parentActivityName=".CampanhasActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.diogo.fieldnote.CampanhasActivity" />
        </activity>
        <activity
            android:name=".MostrarIntervencoesActivity"
            android:label=""
            android:parentActivityName=".IntervencaoTecnicaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.diogo.fieldnote.IntervencaoTecnicaActivity" />
        </activity>
        <activity
            android:name=".RegistarNovaEntrada"
            android:label="@string/title_activity_registar_nova_entrada"
            android:parentActivityName=".RegistoEntradasActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RegistoEntradasActivity" />
        </activity>
        <activity
            android:name=".ZonasActivity"
            android:label="@string/title_activity_zonas"
            android:parentActivityName=".MyFieldsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.diogo.fieldnote.MyFieldsActivity" />
        </activity>
        <activity
            android:name=".RegistarNovaZona"
            android:label="@string/registar_nova_zonas"
            android:parentActivityName=".ZonasActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ZonasActivity" />
        </activity>
        <activity
            android:name=".MostrarZonaActivity"
            android:parentActivityName=".ZonasActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.diogo.fieldnote.ZonasActivity" />
        </activity>
        <activity
            android:name=".ParcelasActivity"
            android:label="@string/title_activity_parcelas"
            android:parentActivityName=".MyFieldsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.diogo.fieldnote.MyFieldsActivity" />
        </activity>
        <activity
            android:name=".MostrarParcelaActivity"
            android:parentActivityName=".ParcelasActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.diogo.fieldnote.ParcelasActivity" />
        </activity>
        <activity
            android:name=".RegistarNovaParcela"
            android:label="@string/registar_nova_parcela"
            android:parentActivityName=".ZonasActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ZonasActivity" />
        </activity>

    </application>

</manifest>